.weatherAlertContainer{
	background-color: #efebea;
	padding: 10px;
}

.titleWeather{
	margin: 0 0 15px 0;
}

input[name='location'],
.searchAlert{
    padding: 15px;
    font-size: 1rem;
}

input[name='location']{
	margin-right: 5px
}

.searchAlert{
	background-color: #bfbcbb;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    outline: none;
    cursor: pointer;
}

